div.jumbotron {
  background-color: #00BFFF;
  margin-top: 30px;
}


body {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.panel-body p.p1 {
  display: none;
}
div.panel-body p.p2 {
  display: none;
}
div.panel-body p.p3 {
  display: none;
}
div.panel-body p.p4 {
  display: none;
}

h2.panel-title {
  float: left;
}

div.h1.panel-title {
  height: 30px;
}

div.moveButton {
  margin-left: 60px;
}
.buttonPress {
  background-color: #1E90FF;
  box-shadow: 5px 5px 5px black;
  color: white;
  border-radius: 5px;
}
div.moveButton button:active {
  box-shadow: 2px 2px 2px #003300;
  transform: translate(3px, 3px);
}
